.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: white;
  }
 
  .cardImage {
    width: '50vw';
    height: '30vh'
    }   
  .logo {
    height: 36px;
  }
  
  .mobile-nav {
    display: none;
  }
  
  .navbar-toggle {
    border: 0;
    background: transparent;
  }
  
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 1px;
    background: #4a4a4a;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes grow {
    from {
      height: 10px;
    }
    to {
      height: 200px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .logo {
      display: none;
    }
    .mobile-nav {
      display: block;
    }
    .menu {
      display: none;
      flex-direction: column;
      animation: grow 0.6s ease-in, fadeIn 1.6s ease-in-out both;
    }
    .container {
      justify-content: space-between !important;
      align-items: flex-start !important;
    }
  }
  
  @media (min-width: 768px) and(max-width: 992px) {
    .menu a {
      padding: 0 4px;
    }
  }


  .heart {
    color: red;
    background-color: currentColor;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 45%;
    top: 45%;
    width: 50px;
  }
  
  .heart-checkbox {
    display: none;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  
  .heart:before {
    top: -25px;
    left: 0;
  }
  
  .heart:after {
    left: 25px;
    top: 0;
  }
  
  .heart-checkbox:checked + .heart {
    color: black;
  }